<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mengmakan</title>
  </head>
  <body>
    <a href="#main-content" class="skip-link">Menuju ke konten</a>
    <header id="header-full">
      <div id="header">
        <h1>Mengmakan &hearts;</h1>
        <div id="navbar-wrapper">
          <nav class="nav-lg">
            <ul>
              <li><a href="/"><span>Home</span></a></li>
              <li><a href="/#/favorites"><span>Favorites</span></a></li>
              <li><a href="https://xlaks.github.io"><span>About Us</span></a></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
    <div id="jumbotron-wrapper">
      <img src="/images/heros/hero-image_2.jpg" alt="tampak atas acara makan bersama"/>
      <span>Temukan restoran favoritmu</span>
    </div>
    <main id="main-content" tabindex="0">
    </main>
    <footer>
      <span>Copyright © 2021 - Mengmakan</span>
    </footer>
  </body>
</html>
