<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="manifest" href="manifest.json">
    <title>Mengmakan</title>
  </head>
  <body>
    <a href="#main-content" class="skip-link">Menuju ke konten</a>
    <header id="header-full">
      <div id="header">
        <h1>Mengmakan</h1>
        <div id="navbar-wrapper">
          <nav class="nav-lg">
            <ul class="desktop-nav">
            </ul>
          </nav>
        </div>
      </div>
    </header>
    <div id="jumbotron-wrapper">
      <img src="/images/heros/hero-image_2.jpg" alt="tampak atas acara makan bersama"/>
      <span>Temukan restoran favoritmu</span>
    </div>
    <main id="main-content" tabindex="0">
      <custom-tabs>
        <tab-content title="Review">
          <span>review content</span>
        </tab-content>
        <tab-content title="Menu">
          <span>menu content</span>
        </tab-content>
      </custom-tabs>
    </main>
    <footer>
      <span>Copyright © 2021 - Mengmakan</span>
      <br />
      <a href="https://iconscout.com/icons/restaurant" target="_blank">Restaurant Icon</a> on <a href="https://iconscout.com">Iconscout</a>
  </body>
</html>
