<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Cataouge of restaurants near you.">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#000">
    <link rel="manifest" href="manifest.json">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <title>mengmakan</title>
  </head>
  <body>
    <a href="#main-content" class="skip-link">Menuju ke konten</a>
    <header id="header-full">
      <div id="header">
        <h1>mengmakan</h1>
        <div id="navbar-wrapper">
          <nav class="nav-lg">
            <ul class="desktop-nav">
            </ul>
          </nav>
        </div>
      </div>
    </header>
    <div id="jumbotron-wrapper">
      <picture>
        <source media="(max-width: 600px)" srcset="./images/heros/hero-image_2-small.jpg">
        <img src="/images/heros/hero-image_2-large.jpg" alt="tampak atas acara makan bersama"/>
      </picture>
      <span>Temukan restoran favoritmu</span>
    </div>
    <main id="main-content" tabindex="0">
    </main>
    <footer>
      <span>Copyright © 2021 - Mengmakan</span>
      <br />
      <a 
        href="https://iconscout.com/icons/restaurant" 
        target="_blank"
        rel="noreferrer"
      >
        Restaurant Icon
      </a> 
      <span>on</span>
      <a 
        href="https://iconscout.com"
        target="_blank"
        rel="noreferrer"
      >
        Iconscout
      </a>
  </body>
</html>
