@import url('./normalize.css');
@import url('./vars.css');

html {
  font-size: 16px;
}

body {
  background-color: var(--color-bg);
}

#header-full {
  background-color: var(--color-main-1);
}

#header {
  margin: 0 auto;
  padding: 0.2em 1em;
  color: beige;
  display: flex;
  justify-content: space-between;
  max-width: 1600px;
}

#header > h1 {
  margin: 0;
  font-size: 2.5em;
}

.nav-lg {
  display: none;
}

.nav-lg ul {
  list-style: none;
}

.nav-lg li {
  display: inline;
  margin: 0 1.5em;
}

.nav-lg a {
  text-decoration: none;
  color: var(--color-text-beige);
}

#jumbotron-wrapper {
  position: relative;
}

#jumbotron-wrapper > img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

#jumbotron-wrapper > span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) skew(-10deg);
  background-color: beige;
  color: var(--color-2);
}

footer {
  text-align: center;
  background-color: var(--color-main-2);
  color: beige;
}

@media screen and (min-width: 800px) {
  .nav-lg {
    display: block;
  }
}