:root {
  --color-main-1: #D7263D;
  --color-main-2: #2E294E;
  --color-accent-1: #6DB1BF;
  --color-accent-2: #3F6C51;
  --color-bg: #FFEAEC;
  --color-text-beige: #F5F5DC;
  --color-text-color: #000;

  --width-clamp: 1600px
}