.container {
  display: block;
}

.container button {
  border: none;
  padding: none;
  border-radius: 50%;
  height: 48px;
  width: 48px;
  font-size: x-large;
  color: white;
  background-color: transparent;
}

.overlay {
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  transition: all 200ms;
  background-color: rgba(0, 0, 0, 0.4);
}

.overlay.open {
  display: block;
}

.sideNavContainer {
  --sidenav-width: 400px;
  z-index: 1;
  position: fixed;
  background-color: #2E294E;
  top: 0;
  right: 0;
  max-width: 100%;
  width: var(--sidenav-width);
  height: 100vh;
  transform: translateX(var(--sidenav-width));
  transition: transform 200ms;
}

.sideNavContainer.open {
  transform: translateX(0);
}

.sideNavContainer a {
  color: beige;
  text-decoration: none;
}

.sideNavContainer > div:first-child {
  text-align: right;
}

.sideNavContainer > div:not(:first-child) {
  min-height: 48px;
  padding: 8px
}

@media screen and (min-width: 800px) {
  #burgerButton {
    display: none;
  }
 }
